### Authentication ###
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET='at-leat-32-chars-stringXYZ1234'
BETTER_AUTH_URL=http://localhost:3000

# https://github.com/settings/developers
# https://www.better-auth.com/docs/authentication/github
GITHUB_CLIENT_ID="your-github-client-id"
GITHUB_CLIENT_SECRET="your-github-client-secret"

# https://console.cloud.google.com/apis/credentials
# https://www.better-auth.com/docs/authentication/google
# Create credentials > OAuth client ID
# Authorized JavaScript origins: https://example.com && http://localhost:3000
# Authorized redirect URIs: https://example.com/api/auth/callback/google && http://localhost:3000/api/auth/callback/google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

### Stripe ###
STRIPE_API_KEY=sk_test_SECRET_KEY
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_PUBLISHABLE_KEY
STRIPE_WEBHOOK_SECRET=
STRIPE_PRO_MONTHLY_PRICE_ID=price_ID

### App ###
NEXT_PUBLIC_APP_URL=http://localhost:3000

### Database ###
DATABASE_URL=
